<h2 class="pageHeader">Transfer Dinosaur</h2>

<form action="/dinosaurs/$dinosaur.getId()/edit" method="post">



        <tr>$dinosaur.getSpecies().getName()</tr>
        <br>


    <label for="paddock">Paddock:</label>
    <select id="paddock" name="paddock">
        #foreach($paddock in $paddocks)
        <option value="$paddock.getId()">$paddock.getNumber()</option>
        #end
    </select>


    <input type="submit" value="Save" class="button"/>


</form>