<div class="homepage">


<div class="parks">

    <a href="/parks">Parks</a>



</div>

<div class="paddocks">

    <a href="/paddocks">Paddocks</a>

</div>

<div class="dinosaurs">

    <a href="/dinosaurs">Dinosaurs</a>

</div>

</div>