<div class="homepage">


<div class="parklink">

    <a href="/parks">Parks</a>

    
</div>

<div class="paddockslink">

    <a href="/paddocks">Paddocks</a>

</div>

<div class="dinosaurslink">

    <a href="/dinosaurs">Dinosaurs</a>

</div>

</div>