<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cretaceous Park</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<nav>
    <ul class="flex-container">

        <li><a href="/" name="Parks" id = "parks" type="button">Parks</a></li>
        <li><a href="/paddocks" name="Paddocks" id = "paddocks" type="button">Paddocks</a></li>
        <li><a href="/dinosaurs" name="Dinosaurs" id = "dinosaurs" type="button">Dinosaurs</a></li>

    </ul>
</nav>

<div class="main">
    #parse( $template )
</div>

</body>
</html>