<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cretaceous Park</title>
</head>
<body>

<div class = "navigation">
    <a href="/" name="Parks" id = "parks" type="button">Parks</a>
</div>

<div class="main">
    #parse( $template )
</div>

</body>
</html>