body {

  background-color: MediumSeaGreen;
  font-family: kongtext;

}

nav {

  height: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}



ul {

  display: flex;
  flex-direction: row;

  list-style-type: none;
  margin: 10;
  padding-left:0;
  text-align: center;
  color: lightpink;
  font-size: 20px;
  font-family: kongtext;

}

a {

color: lightpink;
font-: 20;

}
