<h3>Update Park</h3>
<br/>
<br/>
<form action="/park/$park.getId()/update" class="park_name" method="post">

    <label for="park_name">Name:</label>
    <input type="textBox" value="$park.getName()" name="name" id="park_name">
    <input type="submit" value ="Update" class="Save">


</form>