<h3>Add New Paddock</h3>
<br/>
<br/>
<form action="/paddock/new" class="paddock_number" method="post">

    <label for="paddock_number">Number:</label>
    <input type="number" name="pad_num" id="paddock_number">

    <label for ="park_id">Park Id:</label>
    <input type="number" name="park_id", id = "park_id" value="$id">
    <input type="submit" value ="save" class="Save">


</form>