<div id="paddocks">

    <table>
        <tr>
            <th>Paddock No:</th>
            <th>Integrity:</th>
            <th>Park:</th>
        </tr>
        #foreach ($paddock in $paddocks)
        <tr>
            <td>$paddock.getNumber()</td>
            <td>$paddock.getIntegrity()</td>
            <td>$paddock.getPark()</td>
        </tr>
        #end
    </table>


</div>